{% extends 'layout.html' %}

{% block title %}
homepage
{% endblock %}

{% block body %}
<h4  style="background-color: rgb(158, 245, 216); text-align: center; margin: 6px; padding: 1px 1px;">Welcome, {{ username }}!</h4>
<div class="post-container">
    <form method="POST" action="/" class="post-form">
        <textarea id="content" name="content" placeholder="What's on your mind?" required></textarea>
        <input type="submit" value="Post">
    </form>
</div>

{% for message in get_flashed_messages() %}
<p style="background-color: aquamarine; text-align: center; padding: 3px 3px;">{{ message }}</p>
{% endfor %}

<div class="container">

    {% for post in posts %}
    <div class="left">
        <h3 style="color: #fafafa;">{{ post.bpost.name }} </h3>
        <p>{{ post.content }}</p>
        {% if post.bpost.id == session['user_id'] %}
        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post" class="delete-form">
            <button type="submit" class="delete-button">Delete</button>
        </form>
        {% endif %}

        {% if post.bpost.id != session['user_id'] %}
        <form action="{{ url_for('messages', recipient_username=post.bpost.username) }}" method="post"
            class="delete-form">
            <button type="submit"  style="background-color: #2088ff; color: #ffffff; border: none; padding: 3px 10px;  border-radius: 5px; cursor: pointer;">Message</button>

        </form>
        {% endif %}
        <p style="color: #918f8f;">{{ post.created_at.strftime("%H:%M %d-%m-%Y") }}</p>
    </div>

    {% endfor %}

    {% endblock %}
