<!-- messages.html -->
{% extends 'layout.html' %}
{% block body %}


<div class="post-container">
 
  <form method="POST" action="{{ url_for('messages', recipient_username=recipient.username) }}" class="post-form">
    
    <textarea style=" padding: 1px; min-height: 6px; margin-bottom: 1px;" id="content" name="content"
      placeholder="Send massage to {{ recipient.username }}" required></textarea>
    <input type="submit" value="Send">
  </form>
</div>


{% if recipient %}
{% for message in get_flashed_messages() %}
<p style="background-color: aquamarine; text-align: center; padding: 3px 3px;">{{ message }}</p>
{% endfor %}

  {% for message in messages %}

  <div >
  <p style="background-color: azure;"><b style="color: rgb(252, 248, 248); background-color: #e177fc; padding: 0px 3px;">{{ message.sender.username }}</b>  {{ message.content }}    <i style="color: #d0d0d0;">  {{
    message.timestamp.strftime("%H:%M %d-%m-%Y") }}</i></p>
  </div>
  {% endfor %}



{% endif %}
{% endblock %}