{% extends 'layout.html' %}

{% block title %}
Register
{% endblock %}

{% block style %}

{% endblock %}

{% block body %}
<br>
<br>
<div class="login-form">
    <h2>Register</h2>
    <form method="POST" action="/register">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Register">
    </form>

    <hr>


    <p>if you have an account? <a href="/login">Login</a></p>
    <button onclick="window.location.href='/login'">Login</button>
</div>
</div>

{% endblock %}